.venv
venv
**/__pycache__
**/.DS_Store
__pycache__
generated_data/*
utils/log.json
data/Bach/*.mid
data/Chopin/*.mid
data/Mozart/*.mid
data/Bach/notes
data/Chopin/notes
data/Mozart/notes
generators/neural/models/Bach/*
generators/neural/models/Chopin/*
generators/neural/models/Mozart/*
