.venv
venv
**/__pycache__
**/.DS_Store
__pycache__
generated_data/*
utils/log.json
data/Bach/*
!data/Bach/bach.txt
data/Chopin/*
!data/Chopin/chopin.txt
data/Mozart/*
!data/Mozart/mozart.txt
generators/neural/models/Bach/*
!generators/neural/models/Bach/bach.txt
generators/neural/models/Chopin/*
!generators/neural/models/Chopin/chopin.txt
generators/neural/models/Mozart/*
!generators/neural/models/Mozart/mozart.txt
