.*/
*venv*/
__*__/

generated_data/*
utils/log.json
data/Bach/*
!data/Bach/bach.txt
data/Chopin/*
!data/Chopin/chopin.txt
data/Mozart/*
!data/Mozart/mozart.txt
generators/neural/lstm/models/*
!generators/neural/lstm/models/links.txt