#about-us-container {
    display: flex;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
}

.employee-profile {
    text-align: center;

    img {
        width: 250px;
        border-radius: 30px;
    }
}