.big-heading {
    font-size: 63px;
    font-weight: 300;
    color: #013a63;
    text-align: center;
    margin-bottom: 35px;
}

.big-heading::selection { 
    background: transparent; 
}

.big-heading:hover {
    cursor: default;
}

.help-text {
    display: block;
    margin: 0 auto;
    margin-top: 18px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: #013a63;
    line-height: 0.6;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.help-text:hover {
    cursor: pointer;
}
