.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

.pdf-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80%;
    /* margin-top: 73px; */
    transform: translate(-50%, -50%);
    background-color: #b1c7d7;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
}

.pdf-container iframe {
    width: 100%;
    height: 80vh;
    border: none;
}

