.progressBarContainer {
    display: none;
}

.progressBarHolder {
    width: 70%;
    display: inherit;
    background-color: #dddde1;
    margin: auto;
    height: 5px;
    margin-top: 3px;
    margin-bottom: 7px;
}
.progressBar {
    height: inherit;
    display: inherit;
    width: 35%;
    background-color: #013a63;
}
.progressBarText {
    display: inherit;
    margin: auto;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    color: #013a63;
}
