@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&display=swap');

@font-face {
    font-family: 'Eina01';
    src: url('../fonts/Eina01/Eina01-Light.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Eina01';
    src: url('../fonts/Eina01/Eina01-Regular.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Eina01';
    src: url('../fonts/Eina01/Eina01-SemiBold.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Eina01';
    src: url('../fonts/Eina01/Eina01-Bold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Eina01';
    list-style: none;
    text-decoration: none;
}

body {
    height: 100vh;
    background-image: url("../images/main_bg.png");
    background-size: cover;
    margin-top: 150px;
}

/* Header */
/* ======================================== */

header {
    font-weight: 100;
    z-index: 3;
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(2, 8, 18, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
    height: 73px;
    padding-left: 100px;
    padding-right: 60px;
}

.logo {
    position: static;
	margin-left: 1px;
    transition: transform 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.navbar-item {
    position: relative;
    float: right;

}

.navbar-link {
    padding: 15px;
    color: rgb(255, 255, 255);
    font-weight: 100;
    font-style: normal;
    font-size: 25px;
    display: block;
    border-radius: 30px;
    transition: transform 0.3s ease-in-out;
    padding: 50px;
}

.navbar-link:hover {
    transform: scale(1.05);
    cursor: pointer;
}

/* Main page */
/* ======================================== */

.website-description {
    font-family: "Eina01";
    font-weight: 200;
    font-style: normal;
    font-size: 23px;
    color: #012a4a;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0.9%;
}

.main-logo {
    width: 320px;
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Buttons */
/* ======================================== */

.main-button {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    padding: 15px;
    width:500px;
    height: 60px;
    background: #013a6300;
    border: #013a63 solid 5px;
    border-radius: 31px;
    color: #013a63;
    font-size: 28px;
    line-height: 0.6;
    text-align: center;
    transition: 0.1s ease;
}

.main-button:hover {
    background-color: #013a63;
    color: #e9f4f7;
    cursor: pointer;
}

/* ComboBox */
/* ======================================== */

.gen_form {
    width: 650px;
    height: 200;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: #012a4a;
    border-radius: 60px;
    transition: background-color 0.3s ease;
    background-image: url("../images/main_bg.png");
}

.gen_form select {
    width: 500px;
    background-color:  #013a63;
    color: white;
    height: 60px;
    border-radius: 25px;
    text-align: center;
    font-size: 28px;
}

/* Stylish play/pause button */
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-pause-button,
audio::-webkit-media-controls-play-button-container,
audio::-webkit-media-controls-pause-button-container {
    width: 40px;
    height: 30px;
    margin-top: -6px;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-pause-button {
    background-color: white;
    border-radius: 40%;
}

audio::-webkit-media-controls-play-button-container,
audio::-webkit-media-controls-pause-button-container {
    background-color: transparent;
}

#mp3PlayerContainerForAlgorithmicMusic {
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

#loadingContainer {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}