/* Editing settings */

#EditAlgoTrackButtonContainer, #EditNeuroTrackButtonContainer {
    display: none;
    position: relative;
    margin-bottom: 20px;
}

#EditAlgoTrackContainer, #EditNeuroTrackContainer {
    display: none;
    background-color: white 50%;
    padding-top: 5px;
    padding-bottom: 22px;
}

.EditSetting {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 54px;
}

.InputField {
    width: 100px;
    height: 35px;
    background: #013a6300;
    border: #013a63 solid 5px;
    border-radius: 31px;
    color: #013a63;
    font-size: 18px;
    font-weight: 300;
    line-height: 0.6;
    text-align: center;
    transition: 0.1s ease;
    outline: none;
}

.InputField:hover {
    box-shadow: 0px 0px 10px 0px #013a6388;
}

.InputField:focus {
    box-shadow: 0px 0px 10px 0px #013a6388;
}

.InputCheckBox {
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    background-color: transparent;
    border: 4px solid #013a63;
    padding: 9px;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    outline: none;
    transition: 0.1s ease;
}

.InputCheckBox:checked:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: #013a63;
}

.InputCheckBox:focus {
    box-shadow: 0px 0px 10px 0px #013a6388;
}

.InputCheckBox:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px #013a6388;
}

.SettingLabel {
    margin-right: 10px;
    color: #012a4a;
    font-weight: 300;
    cursor: pointer;
}

#EditAlgoTrackFadesContainer {
    display: none;
}

#EditNeuroTrackFadesContainer {
    display: none;
}

.render-button {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 36px;
    padding: 15px;
    width: 200px;
    height: 40px;
    background: #013a63;
    border: #013a63 solid 4px;
    border-radius: 31px;
    color: #e9f4f7;
    font-size: 23px;
    line-height: 0.0;
    text-align: center;
    transition: 0.1s ease;
    font-weight: 300;
    outline: none;
}

.render-button:hover {
    background-color: #013a6300;
    color: #013a63;
    cursor: pointer;
}

.ContainerWithDownloadButton {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}