{% extends 'header.html' %}

{% block title %}
RESO
{% endblock %}

{% block body %}

<link href="{{ url_for('static', path='css/about_us.css') }}" rel="stylesheet">

<div>
    <img src="{{ url_for('static', path='images/logo_full_white.png') }}" class="small-logo">
</div>
<div class="big-heading"> Development Team </div>

<div id="about-us-container">

    <div class="employee-profile">
        <img src="{{ url_for('static', path='images/Sergey_profile_image.jpg') }}">
        <p class="sub-heading"> Sergey</p>
        <p class="website-description">
            Chief Designer & Senior Fullstack Developer
        </p>
    </div>

    <div class="employee-profile">
        <img src="{{ url_for('static', path='images/Nadezhda_profile_image.jpg') }}">
        <p class="sub-heading"> Nadezhda </p>
        <p class="website-description">
            Machine Learning Engineer & Fullstack Developer
        </p>
    </div>

    <div class="employee-profile">
        <img src="{{ url_for('static', path='images/Nikolay_profile_image.jpg') }}">
        <p class="sub-heading"> Nikolay </p>
        <p class="website-description">
            Team Lead & Senior ML Consultant & Pianist
        </p>
    </div>

</div>

{% endblock %}