{% extends 'header.html' %}

{% block title %}
RESO
{% endblock %}

{% block body %}
<div>
    <img src="{{ url_for('static', path='images/logo_full_white.png') }}" class="small-logo">
</div>
<br>

<div id="HorizontalBarContainter">
    <div class="AlgoGenSetting">
        <p class="AlgoGenSettingTitle">Duration</p>
        <form class="ComboBoxToChooseParameter">
            <select id="DurationOfTheTrack">
                <option value="00:30">00:30</option>
                <option value="01:00" selected>01:00</option>
                <option value="01:30">01:30</option>
                <option value="02:00">02:00</option>
            </select>
        </form>
    </div>
    <div class="AlgoGenSetting">
        <p class="AlgoGenSettingTitle">Tempo</p>
        <form class="ComboBoxToChooseParameter">
            <select id="TempoOfTheTrack">
                <option value="Normal">Slow</option>
                <option value="Slow" selected>Normal</option>
                <option value="Fast">Fast</option>
            </select>
        </form>
    </div>
</div>

<form class="gen_form" method="post" action="/generate/process_algorithmic">
    <select id="AlgoGenerator">
        <option value="AlgoGen01" selected>Calm Melody</option>
        <option value="AlgoGen02">Waltz</option>
        <option value="AlgoGen03">Error 2</option>
        <option value="AlgoGen04">Error 3</option>
        <option value="AlgoGen05">Error 4</option>
    </select>
    <button class="main-button" id="GenerateAlgorithmicMusic" type="button">Generate a song!</button>
</form>

<div id="mp3PlayerContainerForAlgorithmicMusic"> </div>
<!-- Hidden element to store track name for editing purposes -->
<div id="currentTrackName" style="display: none;"></div>

<script src="{{ url_for('static', path='js/custom_mp3_player.js') }}"></script>

<div id="ContainerWithTwoDownloadButtons">
    <!-- Add download MID button -->
    <div id="downloadMIDButtonContainer"></div>
    <!-- Add download MP3 button -->
    <div id="downloadMP3ButtonContainer"></div>
</div>

<div id="EditAlgoTrackButtonContainer">
    <button class="main-button" id="EditAlgoTrackButton">Edit track</button>
</div>


<div id="EditAlgoTrackContainer">
    <div class="EditAlgoSetting">
        <label for="AlgoStartTime" class="AlgoSettingLabel">Start time:</label>
        <input type="text" id="AlgoStartTime" class="InputField" name="AlgoStartTime" pattern="[0-5]?[0-9]:[0-5][0-9]" placeholder="0:00" value="0:00">
    </div>

    <div class="EditAlgoSetting">
        <label for="AlgoEndTime" class="AlgoSettingLabel">End time:</label>
        <input type="text" id="AlgoEndTime" class="InputField" name="AlgoEndTime" pattern="[0-5]?[0-9]:[0-5][0-9]" placeholder="0:00" value="0:30">
    </div>

    <div class="EditAlgoSetting">
        <label for="AlgoAddFades" class="AlgoSettingLabel">Add fade-in and fade-out?</label>
        <input type="checkbox" id="AlgoAddFades" class="InputCheckBox" name="AlgoAddFades">
    </div>

    <!-- Hideable fade-in and fade-out settings -->
    <div id="EditAlgoTrackFadesContainer">
        <div class="EditAlgoSetting">
            <label for="AlgoFadeInTime" class="AlgoSettingLabel">Fade-in length:</label>
            <input type="text" id="AlgoFadeInTime" class="InputField" name="AlgoFadeInTime" pattern="[0-5]?[0-9]" placeholder="0" value="0">
        </div>

        <div class="EditAlgoSetting">
            <label for="AlgoFadeOutTime" class="AlgoSettingLabel">Fade-out length:</label>
            <input type="text" id="AlgoFadeOutTime" class="InputField" name="AlgoFadeOutTime" pattern="[0-5]?[0-9]" placeholder="0" value="0">
        </div>
    </div>

    <button class="render-button" id="EditAlgoRenderButton">Render</button>

    <!-- TODO: fix styles -->
    <div id="mp3PlayerContainerForAlgorithmicMusicEdited"></div>
    <div id="downloadEditedMP3ButtonContainer"></div>

</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<!-- Script for showing editing settings -->
<script>
    $(document).ready(function () {
        $('#EditAlgoTrackButton').click(function () {
            var editButton = document.getElementById('EditAlgoTrackButton');
            var editContainer = document.getElementById('EditAlgoTrackContainer');
            if (editButton.innerText === "Edit track") {
                // editContainer.style.display = 'flex';
                $('#EditAlgoTrackContainer').show();
                editButton.innerText = "Hide editing settings";
            } else {
                // editContainer.style.display = 'none';
                $('#EditAlgoTrackContainer').hide();
                editButton.innerText = "Edit track";
            }
        });
    });
</script>

<!-- Add fades checkbox interraction -->
<script>
    $(document).ready(function () {
        $('#AlgoAddFades').change(function () {
            var addFades = document.getElementById('AlgoAddFades');
            var fadesContainer = document.getElementById('EditAlgoTrackFadesContainer');
            if (addFades.checked) {
                $('#EditAlgoTrackFadesContainer').show();
            } else {
                $('#EditAlgoTrackFadesContainer').hide();
            }
        });
    });
</script>

<!-- Render button -->
<script>
    $(document).ready(function () {
        $('#EditAlgoRenderButton').click(function () {
            var file = document.getElementById('currentTrackName').textContent;
            var start = document.getElementById('AlgoStartTime').value;
            var end = document.getElementById('AlgoEndTime').value;
            var add_fades = document.getElementById('AlgoAddFades').checked;
            var fade_in = 0, fade_out = 0;
            if (add_fades) {
                fade_in = document.getElementById('AlgoFadeInTime').value;
                fade_out = document.getElementById('AlgoFadeOutTime').value;
            }
            $.ajax({
                type: 'POST',
                url: '/generate/edit_algorithmic',
                data: {'file': file, 'start': start, 'end': end, 'fade_in': fade_in, 'fade_out': fade_out},
                success: function (data) {
                    var renderButton = document.getElementById('EditAlgoRenderButton');
                    renderButton.innerText = "Rerender";

                    var mp3Url = '/generated_data/' + data.file;
                    // TODO: after rerendering the edits track is not updated in the music player while in the download button it is
                    // P.S.: I don't know why =(
                    $('#mp3PlayerContainerForAlgorithmicMusicEdited').html('<audio-player src="' + mp3Url + '" bar-width="5" bar-gap="2" preload loop> </audio-player>')
                    $('#downloadEditedMP3ButtonContainer').html('<a class="hyperlink-text" id="DownloadEditedMP3File" href="/downloadEditedMP3/' + data.file + '" download>Download MP3</a>');
                }
            });
        });
    });
</script>

<!-- Enforce correct trimming time format -->
<script>
    function convertToSeconds(time) {
        const parts = time.split(':');
        return parseInt(parts[0],  10) * 60 + parseInt(parts[1],  10);
    }

    var startOldValue = "0:00";
    document.getElementById('AlgoStartTime').addEventListener('change', function(e) {
        var value = e.target.value;
        var pattern = new RegExp('^[0-9]:[0-5][0-9]$');
        if (!pattern.test(value)) {
            alert('Invalid time format. Please enter time in the format of m:ss.');
            e.target.value = startOldValue;
        } else {
            startOldValue = value;
        }
    });

    var endOldValue = "0:30";
    document.getElementById('AlgoEndTime').addEventListener('change', function(e) {
        var value = e.target.value;
        var pattern = new RegExp('^[0-9]:[0-5][0-9]$');
        if (!pattern.test(value)) {
            alert('Invalid time format. Please enter time in the format of m:ss.');
            e.target.value = endOldValue;
        } else {
            endOldValue = value;
            // TODO: protection from incorrect inputs (i.e. start time > end time)

            // var startInput = document.getElementById('AlgoStartTime');
            // var numStartValue = convertToSeconds(startInput.value);
            // var numEndValue = convertToSeconds(value);
            // if (numEndValue < numStartValue) {
            //     e.target.value = startInput.value; 
            //     alert('End time should be greater than start time.')
            // }
        }
    });
    
    // TODO: protection from incorrect inputs (i.e. '01' -> '1')
    document.getElementById('AlgoFadeInTime').addEventListener('change', function(e) {
      var value = e.target.value;
      var pattern = new RegExp('^[0-5]?[0-9]$');
      if (!pattern.test(value)) {
        alert('Invalid time format. Please enter time in the format of ss.');
        e.target.value = '0';
      }
    });

    document.getElementById('AlgoFadeOutTime').addEventListener('change', function(e) {
      var value = e.target.value;
      var pattern = new RegExp('^[0-5]?[0-9]$');
      if (!pattern.test(value)) {
        alert('Invalid time format. Please enter time in the format of ss.');
        e.target.value = '0';
      } else {

      }
    });
</script>

<div id="loadingContainer">
    <img src="{{ url_for('static', path='images/loading.gif') }}" alt="Loading...">
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<!-- Process generated track -->
<script>
    $(document).ready(function () {
        $('#GenerateAlgorithmicMusic').click(function () {
            var AlgoGenerator = $('#AlgoGenerator').val();
            var DurationOfTheTrack = $('#DurationOfTheTrack').val();
            var TempoOfTheTrack = $('#TempoOfTheTrack').val();

            // Show loading spinner
            $('#loadingContainer').show();

            $.ajax({
                type: 'POST',
                url: '/generate/process_algorithmic',
                data: { 'generator': AlgoGenerator, 'duration': DurationOfTheTrack, 'tempo': TempoOfTheTrack },
                success: function (data) {
                    // Update the MP3 player content with the returned filename
                    var filenameMP3 = data.filename + '.mp3';
                    var filenameMID = data.filename + '.mid';
                    var mp3Url = '/generated_data/' + encodeURIComponent(filenameMP3);
                    $('#mp3PlayerContainerForAlgorithmicMusic').html('<audio-player src="' + mp3Url + '" bar-width="5" bar-gap="2" preload loop> </audio-player>')
                    // Display download MID button
                    $('#downloadMIDButtonContainer').html('<a class="hyperlink-text" id="DownloadGeneratedMIDFile" href="/downloadMID/' + encodeURIComponent(filenameMID) + '" download>Download MIDI</a>');

                    // Display download MP3 button
                    $('#downloadMP3ButtonContainer').html('<a class="hyperlink-text" id="DownloadGeneratedMP3File" href="/downloadMP3/' + encodeURIComponent(filenameMP3) + '" download>Download MP3</a>');

                    // Hide loading spinner
                    $('#loadingContainer').hide();
                    $('#EditAlgoTrackButtonContainer').show();

                    // Store track's name in an invisible <div> for easier access later for editing 
                    var currentTrackName = document.getElementById('currentTrackName');
                    currentTrackName.textContent = 'generated_data/' + encodeURIComponent(filenameMP3);;
                }
            });
        });
    });
</script>

{% endblock %}