{% extends 'header.html' %}

{% block title %}
RESO
{% endblock %}

{% block body %}
<div>
    <img src="{{ url_for('static', path='images/logo_full_white.png') }}" class="small-logo">
</div>
<br>
<br>
<br>

<div id="HorizontalBarContainter">
    <div class="AlgoGenSetting">
        <p class="AlgoGenSettingTitle">Duration</p>
        <form class="ComboBoxToChooseParameter">
            <select id="DurationOfTheTrack">
                <option value="00:30" selected>00:30</option>
                <option value="01:00">01:00</option>
                <option value="01:30">01:30</option>
                <option value="02:00">02:00</option>
            </select>
        </form>
    </div>
    <div class="AlgoGenSetting">
        <p class="AlgoGenSettingTitle">Tempo</p>
        <form class="ComboBoxToChooseParameter">
            <select id="TempoOfTheTrack">
                <option value="Normal" selected>Normal</option>
                <option value="Slow">Slow</option>
                <option value="Fast">Fast</option>
            </select>
        </form>
    </div>
</div>

<form class="gen_form" method="post" action="/generate/process_algorithmic">
    <select id="AlgoGenerator">
        <option value="AlgoGen01" selected>Calm Melody</option>
        <option value="AlgoGen02">Random 3/4, aka Waltz</option>
        <option value="AlgoGen03">Error 2</option>
        <option value="AlgoGen04">Error 3</option>
        <option value="AlgoGen05">Error 4</option>
    </select>
    <button class="main-button" id="GenerateAlgorithmicMusic" type="button">Generate a song!</button>
</form>

<div id="mp3PlayerContainerForAlgorithmicMusic"> </div>

<script src="{{ url_for('static', path='js/custom_mp3_player.js') }}"></script>

<div id="ContainerWithTwoDownloadButtons">
    <!-- Add download MID button -->
    <div id="downloadMIDButtonContainer"></div>
    <!-- Add download MP3 button -->
    <div id="downloadMP3ButtonContainer"></div>
</div>

<div id="EditAlgoTrackButtonContainer">
    <button class="main-button" id="EditAlgoTrackButton">Edit track</button>
</div>


<div id="EditAlgoTrackContainer">
    <div class="EditAlgoSetting">
        <label for="AlgoStartTime" class="AlgoSettingLabel">Start time:</label>
        <input type="text" id="AlgoStartTime" class="InputField" name="AlgoStartTime">
    </div>

    <div class="EditAlgoSetting">
        <label for="AlgoEndTime" class="AlgoSettingLabel">End time:</label>
        <input type="text" id="AlgoEndTime" class="InputField" name="AlgoEndTime">
    </div>

    <div class="EditAlgoSetting">
        <label for="AlgoAddFades" class="AlgoSettingLabel">Add fade-in and fade-out?</label>
        <input type="checkbox" id="EditAlgoAddFades" class="InputCheckBox" name="AlgoAddFades">
    </div>

    <!-- Hideable fade-in and fade-out settings -->
    <div id="EditAlgoTrackFadesContainer">
        <div class="EditAlgoSetting">
            <label for="AlgoFadeInTime" class="AlgoSettingLabel">Fade-in length:</label>
            <input type="text" id="AlgoFadeInTime" class="InputField" name="AlgoFadeInTime">
        </div>

        <div class="EditAlgoSetting">
            <label for="AlgoFadeOutTime" class="AlgoSettingLabel">Fade-out length:</label>
            <input type="text" id="AlgoFadeOutTime" class="InputField" name="AlgoFadeOutTime">
        </div>
    </div>

    <button class="render-button" id="EditAlgoRenderButton">Render</button>

    <div id="mp3PlayerContainerForAlgorithmicMusicEdited"></div>

    <div id="downloadEditedMP3ButtonContainer"></div>

</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<!-- Script for showing editing settings -->
<script>
    $(document).ready(function () {
        $('#EditAlgoTrackButton').click(function () {
            var editButton = document.getElementById('EditAlgoTrackButton');
            var editContainer = document.getElementById('EditAlgoTrackContainer');
            if (editButton.innerText === "Edit track") {
                // editContainer.style.display = 'flex';
                $('#EditAlgoTrackContainer').show();
                editButton.innerText = "Hide editing settings";
            } else {
                // editContainer.style.display = 'none';
                $('#EditAlgoTrackContainer').hide();
                editButton.innerText = "Edit track";
            }
        });
    });
</script>

<!-- Add fades checkbox interraction -->
<script>
    $(document).ready(function () {
        $('#EditAlgoAddFades').change(function () {
            var addFades = document.getElementById('EditAlgoAddFades');
            var fadesContainer = document.getElementById('EditAlgoTrackFadesContainer');
            if (addFades.checked) {
                $('#EditAlgoTrackFadesContainer').show();
            } else {
                $('#EditAlgoTrackFadesContainer').hide();
            }
        });
    });
</script>

<!-- Render button -->
<script>
    $(document).ready(function () {
        $('#EditAlgoRenderButton').click(function () {
            var renderButton = document.getElementById('EditAlgoRenderButton');
            renderButton.innerText = "Rerender"
            // TODO
            // P.S.: now it is just copied code from "Generate!" button

            // $.ajax({
            //     type: 'POST',
            //     url: '/generate/process_algorithmic',
            //     data: { 'generator': AlgoGenerator },
            //     success: function (data) {
            //         // Update the MP3 player content with the returned filename
            //         var filenameMP3 = data.filename + '.mp3';
            //         var filenameMID = data.filename + '.mid';
            //         var mp3Url = '/generated_data/' + encodeURIComponent(filenameMP3);
            //         $('#mp3PlayerContainerForAlgorithmicMusic').html('<audio style="width: 500px;" controls><source src="' + mp3Url + '" type="audio/mpeg"></audio>');

            //         // Display download MID button
            //         $('#downloadMIDButtonContainer').html('<a class="hyperlink-text" id="DownloadGeneratedMIDFile" href="/downloadMID/' + encodeURIComponent(filenameMID) + '" download>Download MIDI</a>');

            //         // Display download MP3 button
            //         $('#downloadMP3ButtonContainer').html('<a class="hyperlink-text" id="DownloadGeneratedMP3File" href="/downloadMP3/' + encodeURIComponent(filenameMP3) + '" download>Download MP3</a>');

            //         // Hide loading spinner
            //         $('#loadingContainer').hide();
            //         $('#EditAlgoTrackButtonContainer').show();
            //     }
            // });

        });
    });
</script>

<div id="loadingContainer">
    <img src="{{ url_for('static', path='images/loading.gif') }}" alt="Loading...">
</div>

<!-- Script to show buttons after track has generated -->
<script>
    $(document).ready(function () {
        $('#GenerateAlgorithmicMusic').click(function () {
            var AlgoGenerator = $('#AlgoGenerator').val();
            var DurationOfTheTrack = $('#DurationOfTheTrack').val();
            var TempoOfTheTrack = $('#TempoOfTheTrack').val();

            // Show loading spinner
            $('#loadingContainer').show();

            $.ajax({
                type: 'POST',
                url: '/generate/process_algorithmic',
                data: { 'generator': AlgoGenerator, 'duration': DurationOfTheTrack, 'tempo': TempoOfTheTrack},
                success: function (data) {
                    // Update the MP3 player content with the returned filename
                    var filenameMP3 = data.filename + '.mp3';
                    var filenameMID = data.filename + '.mid';
                    var mp3Url = '/generated_data/' + encodeURIComponent(filenameMP3);
                    $('#mp3PlayerContainerForAlgorithmicMusic').html('<audio-player src="' + mp3Url + '" bar-width="5" bar-gap="2" preload> </audio-player>')
                    // Display download MID button
                    $('#downloadMIDButtonContainer').html('<a class="hyperlink-text" id="DownloadGeneratedMIDFile" href="/downloadMID/' + encodeURIComponent(filenameMID) + '" download>Download MIDI</a>');

                    // Display download MP3 button
                    $('#downloadMP3ButtonContainer').html('<a class="hyperlink-text" id="DownloadGeneratedMP3File" href="/downloadMP3/' + encodeURIComponent(filenameMP3) + '" download>Download MP3</a>');

                    // Hide loading spinner
                    $('#loadingContainer').hide();
                    $('#EditAlgoTrackButtonContainer').show();
                }
            });
        });
    });
</script>

{% endblock %}