<!DOCTYPE html>
<html lang="en">

<head>

    <style>
        html {
            scroll-behavior: smooth;
        }
    </style>
    <!-- set the favicon -->
    <link rel="icon" href="{{ url_for('static', path='images/favicon.ico') }}" type="image/x-icon">

    <meta charset="UTF-8">
    <meta author="Igolkina, N, Skripko, N, Fedchin, S" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link href="{{ url_for('static', path='css/algo_generator_settings.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='css/audio_player.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='css/fonts.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='css/generate.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='css/header.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='css/help.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='css/main_page.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='css/styles.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='css/track_edits.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='css/pdf_viewer.css') }}" rel="stylesheet">
</head>

<body>
    <!-- Header -->
    <header>
        <a href="/">
            <img src="{{ url_for('static', path='images/logo_compact_white.png') }}" class=logo width="50px">
        </a>

        <nav>
            <ul>
                <li class="navbar-item"><a class="navbar-link" href="/about_us">About us</a></li>
                <li class="navbar-item"><a class="navbar-link" href="/contacts">Contacts</a></li>
            </ul>
        </nav>
    </header>
    <br>
    {% block body %}{% endblock body %}
    <br></br>