{% extends 'header.html' %}

{% block title %}
RESO
{% endblock %}

{% block body %}
<div>
    <img src="{{ url_for('static', path='images/logo_full_white.png') }}" class="small-logo">
</div>
<br>

<div id="HorizontalBarContainter">
    <div class="GenSetting">
        <p class="GenSettingTitle">Duration</p>
        <form class="ComboBoxToChooseParameter">
            <select id="DurationOfTheTrack">
                <option value="00:30">00:30</option>
                <option value="01:00" selected>01:00</option>
                <option value="01:30">01:30</option>
                <option value="02:00">02:00</option>
            </select>
        </form>
    </div>
    <div class="GenSetting">
        <p class="GenSettingTitle">Tempo</p>
        <form class="ComboBoxToChooseParameter">
            <select id="TempoOfTheTrack">
                <option value="Slow">Slow</option>
                <option value="Normal" selected>Normal</option>
                <option value="Fast">Fast</option>
            </select>
        </form>
    </div>
</div>

<form class="gen_form" method="post" action="/generate/process_neural_start">
    <select id="NeuralGenerator">
        <option value="Mozart" selected>Mozart</option>
        <option value="Bach">Bach</option>
        <option value="Chopin">Chopin</option>
    </select>
    <div class="EditSetting">
        <label id="NeuroCorrectScaleLabel" for="NeuroCorrectScale" class="SettingLabel" title="Simplifies the notes to make the track sound more melodic.">Apply scale correction?</label>
        <input type="checkbox" id="NeuroCorrectScale" class="InputCheckBox" name="NeuroCorrectScale" checked=true title="Simplifies the notes to make the track sound more melodic.">
    </div>
    <button class="main-button" id="GenerateNeuralMusic" type="button" onclick="generateNeuralTrack()">Generate a song!</button>
</form>

<!-- Progress bar -->
<div id="neuroProgressBarContainer" class="progressBarContainer">
    <div id="neuroProgressBarHolder" class="progressBarHolder">
        <div id="neuroProgressBar" class="progressBar"></div>
    </div>
    <div class="progressBarText" id="neuroProgressBarText">Initializing</div>
</div>


<div id="mp3PlayerContainerForNeuralMusic" class="main-audio-player"> </div>
<!-- Hidden element to store track name for editing purposes -->
<div id="currentTrackName" style="display: none;"></div>

<script src="{{ url_for('static', path='js/custom_mp3_player.js') }}"></script>

<div id="ContainerWithDownloadButtons">
    <!-- Add download MID button -->
    <div id="downloadMIDButton"></div>
    <!-- Add download MP3 button -->
    <div id="downloadMP3Button"></div>
</div>

<div id="EditNeuroTrackButtonContainer">
    <button class="main-button" id="EditNeuroTrackButton">Edit track</button>
</div>

<div id="EditNeuroTrackContainer">
    <div class="EditSetting">
        <label for="NeuroStartTime" class="SettingLabel">Start time:</label>
        <input type="text" id="NeuroStartTime" class="InputField" name="NeuroStartTime" pattern="[0-5]?[0-9]:[0-5][0-9]"
            placeholder="0:00" value="0:00">
    </div>

    <div class="EditSetting">
        <label for="NeuroEndTime" class="SettingLabel">End time:</label>
        <input type="text" id="NeuroEndTime" class="InputField" name="NeuroEndTime" pattern="[0-5]?[0-9]:[0-5][0-9]"
            placeholder="0:00" value="0:30">
    </div>

    <div class="EditSetting">
        <label for="NeuroAddFades" class="SettingLabel">Add fade-in and fade-out?</label>
        <input type="checkbox" id="NeuroAddFades" class="InputCheckBox" name="NeuroAddFades">
    </div>

    <!-- Hideable fade-in and fade-out settings -->
    <div id="EditNeuroTrackFadesContainer">
        <div class="EditSetting">
            <label for="NeuroFadeInTime" class="SettingLabel">Fade-in length:</label>
            <input type="text" id="NeuroFadeInTime" class="InputField" name="NeuroFadeInTime" pattern="[0-5]?[0-9]"
                placeholder="0" value="0">
        </div>

        <div class="EditSetting">
            <label for="NeuroFadeOutTime" class="SettingLabel">Fade-out length:</label>
            <input type="text" id="NeuroFadeOutTime" class="InputField" name="NeuroFadeOutTime" pattern="[0-5]?[0-9]"
                placeholder="0" value="0">
        </div>
    </div>

    <button class="render-button" id="EditNeuroRenderButton">Render</button>

    <!-- TODO: fix styles -->
    <div id="mp3PlayerContainerForNeuralMusicEdited" class="main-audio-player"></div>
    <div class="ContainerWithDownloadButton">
        <div id="downloadEditedMP3ButtonContainer"></div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- Script for showing editing settings -->
<script src="{{ url_for('static', path='js/open_editing_settings.js') }}"></script>

<!-- Add fades checkbox interraction -->
<script src="{{ url_for('static', path='js/fades_checkbox.js') }}"></script>

<!-- Render button -->
<script src="{{ url_for('static', path='js/render_edits.js') }}"></script>

<!-- Enforce correct edit inputs time format -->
<script src="{{ url_for('static', path='js/edit_input_pattern_enforcement.js') }}"></script>

<!-- Process generated track -->
<script src="{{ url_for('static', path='js/generate_neural_track.js') }}"></script>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
{% endblock %}